<h2>{{message.Lista_de_tareas}}</h2>
<input type="text" name="nuevaTarea" value="" class="input-xxlarge" placeholder="{{message.Introduce_una_nueva_tarea}}" />
<div id="tareas"></div>
<div id="estado"></div>
<input type="button" name="limpiar" value="{{message.Limpiar}}" class="btn" />