<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-23d{ISO8601} %-5p %-17t %80.80c %m%n</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/scripts.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-23d{ISO8601} %-5p %-17t %80.80c %m%n</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/scripts-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <logger name="es.com.blogspot.elblogdepicodev.activiti" level="debug" />

    <root level="info">
        <appender-ref ref="console" />
    </root>
</configuration>
